button{
    border-radius: 9999px;
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    border: 0px;
}

.main{ 
    margin-top: 10vh;
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust this value to move the image down */
    width: 100%;
}

.home-img img {
    max-width: 100%; /* Ensure the image takes up to 100% of its container */
    max-height: 50vh; /* Restricts the height to a percentage of the viewport */
    width: auto; /* Maintains aspect ratio */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures the image covers the container without distortion */
}




.right {
    color: white;
    background-color: #25DAC5;
}

.left{
    border: 2px solid rgb(193, 193, 193);
    background-color: white;
    color: #1E0E62;
}

.home-footer {
    position: relative;
    height: 100px; /* Set a fixed height for the footer */
}

.home-footer .foot-left,
.home-footer .foot-center {
    position: relative;
    padding-right: 20px; /* Adjust spacing as needed */
    height: 100%; /* Make the divs take full height */
}

.home-footer .foot-left::after,
.home-footer .foot-center::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px; /* Width of the vertical line */
    height: 100%; /* Adjust the height of the vertical line */
    background-color: #ccc; /* Color of the vertical line */
    transform: translateY(-50%); /* Center the line vertically */
}

.home-footer .foot-right,
.home-footer .foot-center {
    padding-left: 20px; /* Add space on the left of the rightmost div */
    height: 100%; /* Make the div take full height */
}
