#responsive-logo {
    border-radius: 10px;
}

.title-nav{
    color: black;
}


.navbar a,p{
    transition: 0.1s ease;
    color: #1E0E62 !important;
}

.navbar-nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding-bottom: 5px; /* Adjust this to control space between text and underline */
}

.navbar-nav a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Adjust this to control the thickness of the underline */
  bottom: 0;
  left: 50%;
  background-color: currentColor;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav a:hover::before {
  width: 100%;
  left: 0;
}

.navbar-nav a:hover {
  opacity: 60%;
  transition: opacity 0.1s ease;
}


/* From Uiverse.io by satyamchaudharydev */ 
.button {
    /* position: relative; */
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #1E0E62;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    /* gap: 10px; */
    font-weight: bold;
    border: 3px solid #1E0E62;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    /* border-color: #fff9; */
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  